body {
	background-color: #FFFFFF;
	font-size: 14px;
	font-family: Georgia, serif;
	color: #999;
	margin: 30px;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#1A1A1A;
	font-size:230%;
	font-weight:normal;
	margin:0 0 30px 0;
	padding:0 0 11px;
}

h2 {	color:#191919;
		font-family:Arial,Helvetica,sans-serif;
		font-weight:bold;
		margin:0; font-size: 100%;}
		
h3 {	color:#555;
		font-family:Arial,Helvetica,sans-serif;
		font-weight:normal;
		margin:0; font-size: 100%;}
 
.style3 { font-size: 10px }
.style4 { font-size: 10px }
.style18 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 36px;
}
 
ul {	padding: 10px 0 15px; margin: 0; }
ol {	padding: 10px 0 15px; margin: 0; margin-left: 10px; }
 
li {	list-style: none; padding-bottom: 10px;
		color:#999999;
		font-family: Georgia, "Times New Roman", Times, serif;
		text-align:left;}
 
ol li {list-style: decimal; margin-left: 10px; }
 
a {color: #000; text-decoration: none;}
 
a.button {
	background:none repeat scroll 0 0 #8C8C8C;
	color:#FFFFFF;
	margin:1px;
	padding:2px 4px 3px;
	margin-left: 5px; 
	font-size: 95%; }
 
a:hover.button {
background:none repeat scroll 0 0 #DC0067;
}

#mockup a {
	background: url(dot.png) no-repeat 100% 100%;
}

a.button.next,
a.button.prev {
	display: none;
}