<!-- Header -->
<div class="navbar">
  <div class="container" id="header" role="banner">
  <div class="navbar__inner">

      <div class="navbar__container navbar__container--left">
        <a class="navbar__item navbar__logo navbar__item--flex " href="/">Stephen Tomlinson</a>
      </div>


      <div class="navbar__container navbar__container--right">

        <a class="navbar__item" href="/">Work</a>
        <!-- <a class="navbar__item" href="/blog">Blog</a> -->
        <!-- <a class="navbar__item" href="/about/">About</a> -->
        <a class="navbar__item" href="mailto:stephen@stomlinson.org">Email</a>

      </div>

  </div>
</div>
</div>
