{% if project %}
<div class="project-thumb">
  <a class="u-block" href="{{project.url}}">

    {% if project.preview %}
      <img class="project-thumb__image" src="/images/{{project.preview}}">
    {% else %}
      <img class="project-thumb__image" src="/images/{{project.slug}}/preview.png">
    {% endif %}
    
    <header class="project-thumb__header">
      <h2>
        {{project.title}}
      </h2>
      {% if project.tags %}
        <h6>{{project.tags|join:', '}}</h6>
      {% endif %}
    </header>

  </a>
</div>
{% endif %}
