// Structure

.project-thumb {
  text-align: center;
  position: relative;
  
  &:before,
  &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  &:after {
      clear: both;
  }
  
  .ga-logo {
    position: absolute;
    display: none;
    top: -12px;
    left: -12px;
  }
}

.project-thumb__image {
  max-width: 100%;
  height: auto;
  display: block;
}

.project-thumb__header {
  padding: 20px 0 0;
  
  h2 {
    margin: 0 0 2px;
  }
}