.intro {
  padding: gutter() 0;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;

  @include breakpoint(medium) {
    padding: gutter() gutter()/2;
    font-size: 20px;
  }

  @include breakpoint(large) {
    font-size: 20px;
    padding: gutter() gutter()*3;
  }
}
