{% extends "default.html" %}


{% block head %}
<meta property="og:title" content="{{page.title}}">
<meta property="og:description" content="{{page.metadata.description}}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{site}}{{page.url}}">
<meta property="og:image" content="{{site}}{{page.url}}preview.png">
<meta property="og:image:width" content="900">
<meta property="og:image:height" content="676">
{% endblock %}

{% block js %}
{% if page.metadata.js %}
<script src="{{page.metadata.js}}"></script>
{% endif %}
{% endblock %}

{% block topbar_right %}
  {% for project in projects %}
      {% if project == page.metadata.id %}

        {% if projects[loop.index0 - 1] %}
        <a class="navbar__item navbar__button" href="../{{projects[loop.index0 - 1]}}/">&larr; Previous</a>
        {% endif %}

        {% if projects[loop.index0 + 1] %}
        <a class="navbar__item navbar__button" href="../{{projects[loop.index0 + 1]}}/">Next &rarr;</a>
        {% endif %}

      {% endif %}
  {% endfor %}
{% endblock %}

{% block body %}

  <!-- Project article -->
  <article class="article">

      <header class="article__header">
        <h1>{{page.title}}</h1>
        <h6>
          {% if page.metadata.year %}
            <span class="u-hide--small">{{page.metadata.year}} &ndash;</span>
          {% endif %}
          {% if page.metadata.tags %}
            {{page.metadata.tags|join(', ')}}
          {% endif %}
        </h6>
      </header>

      {{page.html|safe}}

  </article>

  <div class="container">

      <hr class="rule">

      {% include "global/project-grid.html" %}

  </div>


{% endblock %}
