/*
 * Images, screens and illustrations
 */

 img[src$=".gif"], img[src$=".png"] {
  image-rendering: optimizeQuality;
 }

.figure {
  margin: 2em auto;
  max-width: 100%;

  img {
    max-width: 100%;
    height: auto;
  }

  figcaption {
    text-align: left;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0.015em;
    color: #8A9499;
  }
}
