/*
 * Page grid
 */

$susy: (
  columns: 12,
  column-width: 50px,
  gutters: 50/30
);

@include layout($susy);

body {
  margin: 0;
  text-align: center;
}

.container {
  text-align: left;
  margin: 0 auto;
  padding: 0 30px;
  box-model: content-box;

  @include breakpoint(large) {
    max-width: 80vw;
    padding: 0 gutter();
  }

  img {
    max-width: 100%;
  }
}
