// Body

// @font-face {
//     font-family: 'Adelle Sans';
//     src: url('../fonts/body-regular.woff2') format('woff2'),
//          url('../fonts/body-regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Adelle Sans';
//     src: url('../fonts/body-semibold.woff2') format('woff2'),
//          url('../fonts/body-semibold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
// }


@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/sans-regular.woff2') format('woff2'),
         url('../fonts/sans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/sans-bold.woff2') format('woff2'),
         url('../fonts/sans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
