/*
 * Underlying page typography
 *
 * This is just for the basic elements, headings, strong etc. Many components
 * set their own typographic rules
 *
 */

$sans: "Adelle Sans", sans-serif;
$headings: "Larsseit", sans-serif;
$mono: "Menlo", monospace;

@function rem($px, $base: 16px) {
  @return ($px / $base) * 1rem;
}

body {
  background: white;
  color: hsl(200, 10%, 10%);
  font-family: $sans;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;

  font-size: 17px;
  line-height: 1.6;

  @include breakpoint(medium) {
    font-size: 18px;
  }

  @include breakpoint(large) {
    font-size: 19px;
  }

  @include breakpoint(very-large) {
    font-size: 21px;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

header {
  @include breakpoint(medium) {
    text-align: center;
  }
}

// Headings

h1, h2, h3 {
  font-family: $headings;
  font-weight: bold;
}

h1 {
  font-size: 30px;
  margin: 0 0 10px;
  line-height: 1.3;

  @include breakpoint(medium) {
    font-size: 36px;
  }

  @include breakpoint(large) {
    font-size: 44px;
  }
}

h2 {
  font-size: 20px;
  margin: 1.5em 0 .33em;
  line-height: 1.5;

  @include breakpoint(medium) {
    font-size: 24px;
  }
}

h3 {
  font-size: inherit;
  margin-bottom: 0;
}

h5 {
  font-size: inherit;
  font-weight: 600;
  margin: 0;

  @include breakpoint(medium) {
    font-size: 20px;
  }
}

h6 {
  font-size: 16px;
  font-weight: normal;
  color: #8A9499;
  margin: 0;
}

//h1 + h5 {
//  margin-top: -$body-line-height /2;
//}

strong {
  font-weight: 600;
  color: #2E3133;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-left: 2rem;

    &:before {
      content: "•";
      float: left;
      margin-left: -1.5rem;
      font-size: 24px;
      line-height: 1.4rem;
      vertical-align: middle;
      color: #2E3133;
    }
  }
}


ol {
  counter-reset: item;

  li:before {
    counter-increment: item;
    content: counter(item);
    font-family: "felt-tip-roman";
    font-weight: 400;
  }
}

p, ul, ol {
  color: hsl(200, 10%, 25%);
  line-height: 1.5;
  margin: 0 auto 0.8em;
}

figcaption {
  font-size: 14px;
  margin-top: .5rem;
}

mark {
  background: #FFF8C6;
  color: inherit;
}

cite {
  font-style: normal;
}

// Tables

table {
  text-align: inherit;
}

td {
  text-align: inherit;
}
